.bowls {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.bowlDivs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

section {
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    >h1 {
        font-size: 50px;
        color: red;
    }
}